.format-text {
  white-space: pre-wrap;
}
.todo-single {
  position: relative;
  .btn-edit {
    position: absolute;
    top: 0;
    right: 0;
  }
  .btn-delete {
    position: absolute;
    top: 52px;
    right: 0;
  }
}